@model Subby.Web.Models.EmailViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Sustainability Yard";
}
Hi @Model.Name
<br />
<br />
On @DateTime.Now.ToString("dd MMMM yyyy") at @DateTime.Now.ToString("hh:mm tt"), a request was made to either reset your password or reactivate the details required to access your online account with Sustainability Yard. 
To do this, please click the following link, or copy and paste the whole link into your browser:
<br />
<br />
<a href="@Model.CallBackUrl">@Model.CallBackUrl</a>
<br />
<br />
You will then be asked to enter a new password.  Your account/password will then be reset or reactivated.  This email is only valid for 2 hours.
